<a href="https://colab.research.google.com/github/Nirantz/Data-Analysis/blob/main/Exploratory_Data_Analysis_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**EDA: On the Breast Cancer Wisconsin (Diagnostic) Data Set**

https://medium.com/@siddhardhan23/exploratory-data-analysis-25b7c0f0bfec

Checklist for EDA:
1. Checking the different features present in the dataset & its shape
2. Checking the data type of each columns
3. Encoding the labels for classification problems
4. Checking for missing values
5. Descriptive summary of the dataset
6. Checking the distribution of the target variable
7. Grouping the data based on target variable

Import the libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [ ]:
breast_cancer_data = pd.read_csv('/content/data.csv')

Checking the different features present in the dataset: using *head()* function in pandas

In [ ]:
breast_cancer_data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
breast_cancer_data.shape

(569, 33)

2. Checking the data type of each columns and non-null count:

In [ ]:
breast_cancer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

3. Encoding the labels for classification problems:

In [ ]:
label_encode = LabelEncoder()
labels = label_encode.fit_transform(breast_cancer_data['diagnosis'])
breast_cancer_data['target'] = labels
breast_cancer_data.drop(columns=['id','diagnosis'], axis=1,    inplace=True)

4. Checking for missing values

In [ ]:
breast_cancer_data.isnull().sum()

radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
target                       0
dtype: int64

5. Descriptive summary of the dataset: “Descriptive Statistics” which is a summarization of the data. For this, we can use describe() function in pandas

In [ ]:
breast_cancer_data.describe()

       radius_mean  texture_mean  ...  Unnamed: 32      target
count   569.000000    569.000000  ...          0.0  569.000000
mean     14.127292     19.289649  ...          NaN    0.372583
std       3.524049      4.301036  ...          NaN    0.483918
min       6.981000      9.710000  ...          NaN    0.000000
25%      11.700000     16.170000  ...          NaN    0.000000
50%      13.370000     18.840000  ...          NaN    0.000000
75%      15.780000     21.800000  ...          NaN    1.000000
max      28.110000     39.280000  ...          NaN    1.000000

[8 rows x 32 columns]

7. Grouping the data based on target variable:

In [ ]:
breast_cancer_data.groupby('target').mean()

        radius_mean  texture_mean  ...  fractal_dimension_worst  Unnamed: 32
target                             ...
0         12.146524     17.914762  ...                 0.079442          NaN
1         17.462830     21.604906  ...                 0.091530          NaN

[2 rows x 31 columns]